<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Sémaphore">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/icons/site.webmanifest">
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">
        <title><%- post.text %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style="background: linear-gradient(to right, #2389a8, #3fb2cf)";>
        <% if (background != "default") { %>
            <img id="frame" src="/img/background/<%= background.path %>">
            <% } else { %>
            <img id="frame" src="">
        <% }%>
        <div id="box_color" style="background-color: <%- post.color %>;">
            <p id="text"><%- post.text %></p>
            <p id="sub_text"><%- post.sub_text %></p>
        </div>
        <p id="cestquandmememoiquiaittoutfait">Développé par @ilio Discepoli - BA3 - 2022 - Fablab &copy; - T'as (toujours) de bons yeux tu sais ?</p>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const ip = "<%= conf.ip %>"
        const port = "<%= conf.port %>"
        console.log(port)
        const socket = io('http://' + ip + ':' + port, { transports : ['websocket'] });
        socket.on('update_post', (post) => {
            console.log("Socket reçu")
            if (post.id_author == "<%= post.id_author %>"){
                document.title = post.text
                document.getElementById("text").innerHTML = post.text;
                document.getElementById("sub_text").innerHTML = post.sub_text;
                document.getElementById("box_color").style.backgroundColor = post.color;
            }
        })
        socket.on('update_background', (background) => {
            if (background.id_author == "<%= post.id_author %>"){
                document.getElementById("frame").src = "/img/background/" + background.path;
            }
        })
        var elem = document.documentElement;
        
        // Passer en fullscreen
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
            }
        }
        
        // Retirer le fullscreen
        function closeFullscreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.webkitExitFullscreen) { /* Safari */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE11 */
                document.msExitFullscreen();
            }
        }
        var isFullscreen = false
        document.addEventListener("keypress", function(event) {
	        if (event.keyCode == 32) {
                if(!isFullscreen) {
                    openFullscreen()
                    isFullscreen = true
                }else{
                    closeFullscreen()
                    isFullscreen = false
                }
            }
        });
        </script>
</html>